@page "/checkout"
@using BlazingPizza.Services
@using BlazingPizza.Model
@using BlazingPizza.Shared

@inject OrderState OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@implements IDisposable

<div class="main">
    <EditForm EditContext="editContext" OnValidSubmit="PlaceOrder">
        <DataAnnotationsValidator />

        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Review order</h4>
                <OrderReview Order="Order" />
            </div>

            <div class="checkout-delivery-address">
                <h4>Deliver to...</h4>

                @if (isError)
                {
                    <div class="alert alert-danger">
                        Please enter a name and address.
                    </div>
                }

                <AdressEditor Address="Order.DeliveryAddress" />
            </div>
        </div>

        <button class="checkout-button btn btn-warning"
                type="submit"
                disabled="@isError">
            Place order
        </button>
    </EditForm>
</div>

@code {
    Order Order => OrderState.Order;

    bool isError = true;
    EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(Order.DeliveryAddress);
        editContext.OnFieldChanged += HandleFieldChanged;

        // Initiale Validierung (Button beim Laden korrekt deaktivieren)
        isError = !editContext.Validate();
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        isError = !editContext.Validate();
        StateHasChanged();
    }

    async Task PlaceOrder()
    {
        var response = await HttpClient.PostAsJsonAsync(
            $"{NavigationManager.BaseUri}orders",
            OrderState.Order);

        var newOrderId = await response.Content.ReadFromJsonAsync<int>();

        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }
}
